<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>STRAM-1.0-service</display-name>
    <!-- Context Spring -->
    <context-param>
        <description>contexto de spring</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-config.xml /WEB-INF/data-config.xml</param-value>
    </context-param>
    <!-- Escuchador para spring -->
    <listener>
        <description>Escuchador de Framework</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- servlet Restful 
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping> -->
    <!-- servlet html 
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/view-config.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet> 
    
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
   -->
</web-app>
